<form method="post" action="{{ path('app_document_delete', {'id': document.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce document ?');" style="display: inline-block; width: 100%;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ document.id) }}">
    <button class="btn btn-danger btn-icon-split w-100 align-items-center justify-content-start p-0">
        <span class="icon text-white-50">
            <i class="fas fa-trash"></i>
        </span>
        <span class="text">Supprimer</span>
    </button>
</form>
