<h2>Réinitialisation de votre mot de passe</h2>
<p>Bonjour {{ user.getPrenom() }},</p>
<p>Vous avez demandé la réinitialisation de votre mot de passe. Cliquez sur le lien ci-dessous pour définir un nouveau mot de passe :</p>
<p><a href="{{ resetLink }}" target="_blank">Réinitialiser mon mot de passe</a></p>
<p>Utilise ce lien pour définir un nouveau mot de passe. Si vous n'arrivez pas à l'utiliser, contactez le support.</p>
<p>Si vous n'avez pas demandé cette opération, ignorez cet email ou contactez le support.</p>
<p>Cordialement,<br>Équipe MindAudit</p>
